* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: fit-content;
  width: 100%;
}
/* Header */
#header {
  height: 25vh;
  background-color: #1a2434;
  display: flex;
  align-items: center;
  justify-content: center;
}
#h-inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 55px;
  text-transform: uppercase;
}
#h-inner p {
  font-size: 18px;
  text-transform: capitalize;
}
/* Hero Section */
#hero-section {
  height: fit-content;
  background-color: #f6f8fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 25px;
}
#hero-section h3 {
  font-size: 22px;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
/* About */
#about {
  background-color: #fff;
  width: 80%;
  border-radius: 6px;
  padding: 50px;
}
#about-inner p {
  color: #7e7d7d;
  font-size: 15px;
}
/* Education */
#education {
  width: 80%;
  border-radius: 6px;
  padding: 50px;
  background-color: #cadeec;
}
#education-inner div {
  width: 78%;
  font-size: 19px;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
}
#education-inner div p {
  color: #000;
}
/* Skills */
#skills {
  width: 80%;
  border-radius: 6px;
  padding: 50px;
  background-color: #fef0bf;
}
#skills-inner div {
  width: 65%;
  font-size: 19px;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
}
#skills-inner div p {
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 16px;
}
/* Project */
#projects {
  width: 80%;
  border-radius: 6px;
  padding: 50px;
  background-color: #e5e0f7;
}
#projects-inner div {
  width: 80%;
  font-size: 18px;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
}
#projects-inner div p {
  color: #000;
  font-style: italic;
}
/* Contact */
#contact {
  width: 80%;
  border-radius: 6px;
  padding: 50px;
  background-color: #d7fce2;
}
#contact-inner div {
  width: 65%;
  font-size: 18px;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
}
#contact-inner div p {
  color: #000;
}
/* Footer */
#footer{
    padding: 20px;
    background-color: #1a2434;
    text-align: center;
}
#footer p{
    font-size: 15px;
    color: #c9c9c9;
}